#title-slide .title {
  color: #488fb8;
}

#title-slide .author {
  font-size: 30px!important;
  font-weight: bold;
}

#title-slide .institute {
  font-size: 20px;
}

/*#title-slide .institute:after {
  content: url('../img/CZU_logotype_H_ENG_black.png') ;
  display: block;
}--*/

.info.legend.leaflet-control i {
  float: left;
}

.box {
  margin-top: 10px;
  margin-right: 10px;
  border: 5px solid #6297b5;
  padding: 10px;
  font-size: 26px;
  background-color: #E6E6E6;
}

.font-small {
  font-size: 1.2rem;
}

.font-big {
  font-size: 3rem;
  font-weight: bold;
}

.font-aside {
    font-size: 0.7em;
    color: rgb(102, 102, 102);
}

.info-box {
  margin-top: 10px;
  margin-right: 10px;
  border-left: 10px solid #6297b5;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e8f4f8;
}

.fa-ul {
    list-style-type: none!important;
    margin-left: var(--fa-li-margin, 2.5em)!important;
    padding-left: 0!important;
}

.circle {
    border-radius: 50%;
    width: 1em;
    line-height: 1em;
    padding: 3px;
    display: inline-block;
    background: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}

.story {
  background-color: black;
  color: white;
  font-size: 0.3em;
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  vertical-align: middle;
}