Drafts
.DS_Store
.Rproj.user
.Rhistory
Practical_classes/*/big_data/
Practical_classes/2023_student_projects
/Practical_classes/Week8_evolution_of_biodiversity/2_EcoEvoSimulations/SouthAmerica/output
